deepspeech==0.5.1
numpy==1.17.0
Flask==1.1.1
tensorflow==1.12.0
tensorflow-hub==0.5.0
matplotlib==3.1.1
python_speech_features
progressbar2
python-utils
setuptools
flask_cors
soundfile
paramiko
requests
attrdict
librosa
tables
pandas
scipy
pyxdg
wave
sox
bs4
six
